<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hipinion Youtube Playlist Maker</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/css.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="javascripts/ui.js"></script>
  </head>
  <body>
    <br><br>
    <!-- <select>
      <option value="1">Free-for-all</option>
      <option value="5">member forum</option>
      <option value="3">Archives</option>
    </select><br> -->
    <form id="theform">
      <input autofocus class="thread-id" type="text" type="number" min="0" max="500000" placeholder="Enter thread ID."><br>
      <input type="submit" value="Submit" id="thesubmit">
    </form>
    <div>like the number in red:<br>http://forums.hipinion.com/viewtopic.php?f=1&t=<span>77736</span></div>
    <br>
    <a href="https://www.youtube.com/channel/UCPygZYrMsEO90DmN8KdH4uA/playlists">Playlists</a><br><br>
    <img src="images/loading.gif">
    <p></p>
    <!-- v2.0 ! -->

    <br>
    Also, you can access the Hpn Android App here: <a target="_blank" href="https://goo.gl/1695no">https://goo.gl/1695no</a>
  </body>
</html>